.box{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../../img/login/img_sign_BG1.png") no-repeat;
    background-size: 100% 100%;
}
.login-box{
    width: 370px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -250px;
    z-index: 2;
}
.login-box-bg{
    opacity: 0.1;
    background: #BDFAF5;
    width: 390px;
    height: 470px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -195px;
    margin-top: -205px;
    z-index: 1;
}
.login-box .title{
    width: 100%;
    height: 50px;
    font-family: PingFangSC-Regular;
    font-size: 36px;
    color: #00FFFF;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 5px;
}
.login-box .content{
    width: 100%;
    height: 450px;
}
.login-box .content .top{
    width: 100%;
    height: 40px;
    background: url("../../img/login/img_signin_bg_1.png") no-repeat;
    background-size: 100% 100%;
}
.login-box .content .top p{
    width: 100%;
    height: 40px;
    line-height: 35px;
    font-size: 20px;
    color: #00FFFF;
    letter-spacing: 0;
    text-align: center;
}
.login-box .content .middle{
    width: 100%;
    height: 300px;
    background: url("../../img/login/img_signin_bg_2.png") no-repeat;
    background-size: 100% 100%;
}
.login-box .content .middle form{

}
.login-box .content .middle form ul{
    box-sizing: border-box;
    padding: 0px 30px;
}
.login-box .content .middle form ul li{
    width: 310px;
    height: 38px;
    line-height: 38px;
    margin-top: 20px;
}
.login-box .content .middle form ul li label{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #00FFFF;
    letter-spacing: 0;
    margin-right: 5px;
}
.login-box .content .middle form ul li input{
    width: 260px;
    height: 38px;
    background: #080A33;
    border: 0;
}
.login-box .content .middle form a{

}
.login-box .content .middle form input.submit{

}

.login-box .content .bottom{
    width: 100%;
    height: 110px;
    background: url("../../img/login/img_signin_bg_3.png") no-repeat;
    background-size: 100% 100%;
}



















