html,body{
    min-height: 600px;
    min-width: 1000px;
}

.box{
    padding: 0;
    background: url("../../img/login/img_sign_BG4.png") no-repeat;
    background-size: 100% 100%;
}
.team-box{
    width: 750px;
    height: 460px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -375px;
    margin-top: -260px;
    overflow: hidden;
}
.team-box .title{
    font-size: 20px;
    color: #9FD7FF;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.team-box .title span{
    color: #00FFFF;
}
.team-box .team-bg{
    width: 290px;
    height: 450px;
    z-index: 1;
    position: absolute;
    top: 90px;
}
.team-box .team-bg1{
    left: 80px;
}
.team-box .team-bg2{
    right: 80px;
}
.team-box .team-create{
    left: 90px;
}

.team-box .team-select{
    right: 90px;
}
.team-frame-box{
    width: 270px;
    height: 430px;
    z-index: 2;
    position: absolute;
}
.team-frame-box .middle{
    width: 100%;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
}
.team-frame-box .middle p{
    color: #9FD7FF;
}
.team-frame-box .middle p span{
    color: #01FFFF;
}
.team-frame-box .top{
    background: url("../../img/teamProcess/img_team_bg_1.png");
    background-size: 100% 100%;
}
