body{

}

.box{
    padding: 0;
}
.header{
    position: relative;
}
.footer{
    position: relative;
}
.box-out-content {
    width: 100%;
    min-height: 700px;
    box-sizing: border-box;
    background: #080A33;
    overflow: hidden;
}
.home-box{
    width: 1200px;
    height: 650px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}
.home-left-box{
    width: 200px;
    height: 100%;
    float: left;
    background: rgba(191, 191, 191, 0.2);
    box-sizing: border-box;
    padding-bottom: 50px;
    position: relative;
}
.home-left-bottom{
    width: 100%;
    height: 300px;
    margin-top: -250px;
    overflow: hidden;
}
.home-left-bottom .bottom-left-icon{
    width: 60px;
    height: 100%;
    float: left;
    background: url(../../img/home/img_frame_style2_1.png);
    background-size: 100% 100%;
    margin-left: 5px;
}
.home-left-bottom .bottom-middle-icon{
    width: 70px;
    height: 20px;
    float: left;
    margin-top: 280px;
    position: relative;
}
.home-left-bottom .bottom-middle-icon em.top{
    position: absolute;
    display: block;
    bottom: 13px;
    width: 100%;
    height: 2px;
    background: #01FFFF;
}
.home-left-bottom .bottom-middle-icon em.bottom{
    position: absolute;
    display: block;
    bottom: 8px;
    width: 100%;
    height: 1px;
    background: #01FFFF;
}
.home-left-bottom .bottom-right-icon{
    width: 60px;
    height: 100%;
    float: left;
    background: url("../../img/home/img_frame_style2_3.png");
    background-size: 100% 100%;
}

.home-left-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.home-left-title em.left{
    width: 6px;
    height: 20px;
    display: block;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
    background: #01FFFF;
}

.home-left-title span.title{
    float: left;
    font-size: 18px;
    color: #01FFFF;
}

.home-left-title em.right{
    width: 100px;
    height: 0.5px;
    display: block;
    float: left;
    background: #01FFFF;
    margin-top: 25px;
    margin-left: 10px;
}
.home-left-content{
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    padding: 0px 20px;
    overflow-y: auto;
}
.home-left-content ul.rank-list{

}
.home-left-content ul.rank-list li{
    width: 100%;
    height: 55px;
    overflow: hidden;
    border-bottom: 1px solid #6c788ef4;
}
.home-left-content ul.rank-list li .rank{
    width: 50px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 55px;
    font-size: 17px;
    color: #9FD7FF;
}

.home-left-content ul.rank-list li .rank img{
    width: 39px;
}
.home-left-content ul.rank-list li .name{
    width: 100px;
    height: 100%;
    float: right;
    text-align: right;
    box-sizing: border-box;
    padding-top: 8px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #9FD7FF;
    line-height: 20px;
    padding-right: 5px;
}
.home-left-content ul.rank-list li .name i{
    font-style: italic;
    padding-right: 3px;
}

.home-middle-box{
    width: 750px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    background: rgba(247, 247, 247, 0.1);
    position: relative;
}
.home-middle-box .middle-bg-icon{
    position: absolute;
    height: 100%;
}
.home-middle-box .middle-bg-icon1{
    width: 25px;
    background: url("../../img/home/img_frame_style3_1.png");
    background-size: 100% 97%;
    background-repeat: no-repeat;
    left: 20px;
    top: 10px;
}
.home-middle-box .middle-bg-icon2{

}
.home-middle-box .middle-bg-icon3{
    width: 25px;
    background: url("../../img/home/img_frame_style3_1_2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 10px;
    right: 20px;
}

.grap-box{
    width: 100%;
    height: 100%;
    background: url("../../img/home/img_star_bg.png");
    background-size: 100% 100%;
}





.home-right-box{
    width: 250px;
    height: 100%;
    float: left;
    background: red;
    background: rgba(191, 191, 191, 0.2);
}
.home-right-box em.left{
    width: 6px;
    height: 20px;
    display: block;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
    background: #01FFFF;
}

.home-right-box span.title{
    float: left;
    font-size: 18px;
    color: #01FFFF;
}

.home-right-box em.right{
    width: 159px;
    height: 0.5px;
    display: block;
    float: left;
    background: #01FFFF;
    margin-top: 25px;
    margin-left: 10px;
}
.home-right-box .countTime-box{
    width: 220px;
    height: 120px;
    margin: 10px auto;
    position: relative;
}
.home-right-box .countTime-box .top{
    width: 100%;
    height: 65%;
    background: url("../../img/home/img_frame_style4_1.png");
    background-size: 100% 100%;
}
.home-right-box .countTime-box .bottom{
    width: 100%;
    height: 35%;
    background: url("../../img/home/img_frame_style4_3.png");
    background-size: 100% 100%;
}
.home-right-box .countTime-box em.left{
    width: 2px;
    height: 44px;
    position: absolute;
    left: 1px;
    top: 36px;
    display: block;
    margin: 0;
}
.home-right-box .countTime-box em.right{
    width: 2px;
    height: 44px;
    position: absolute;
    right: 1px;
    top: 36px;
    display: block;
    margin: 0;
}
.home-right-box .countTime-box .countTime-content{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 30px;
    line-height: 40px;
    color: #01FFFF;
    text-align: center;
}
.home-right-box .home-right-content{
    width: 100%;
    height: 400px;
    background: red;
}
.home-right-box .home-right-content .home-dynamic{
    width: 100%;
    height: 350px;
    background: blue;
}










