body{

}

.box{
    padding: 0;
    min-width: 1350px;
}
.header{
    position: relative;
}
.footer{
    position: relative;
}
.box-out-content {
    width: 100%;
    min-height: 700px;
    box-sizing: border-box;
    background: #080A33;
    overflow: hidden;
}
.home-box{
    width: 88%;
    min-width: 1350px;
    height: 650px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}
.home-left-box{
    width: 15%;
    height: 100%;
    float: left;
    background: rgba(117, 117, 117, 0.2);
    box-sizing: border-box;
    padding-bottom: 50px;
    position: relative;
}
.home-left-bottom{
    width: 100%;
    height: 300px;
    margin-top: -250px;
    overflow: hidden;
}
.home-left-bottom .bottom-left-icon{
    width: 60px;
    height: 100%;
    float: left;
    background: url(../../img/home/img_frame_style2_1.png);
    background-size: 100% 100%;
    margin-left: 5px;
}
.home-left-bottom .bottom-middle-icon{
    width: 70px;
    height: 20px;
    float: left;
    margin-top: 280px;
    position: relative;
}
.home-left-bottom .bottom-middle-icon em.top{
    position: absolute;
    display: block;
    bottom: 13px;
    width: 100%;
    height: 2px;
    background: #01FFFF;
}
.home-left-bottom .bottom-middle-icon em.bottom{
    position: absolute;
    display: block;
    bottom: 8px;
    width: 100%;
    height: 1px;
    background: #01FFFF;
}
.home-left-bottom .bottom-right-icon{
    width: 60px;
    height: 100%;
    float: left;
    background: url("../../img/home/img_frame_style2_3.png");
    background-size: 100% 100%;
}

.home-left-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.home-left-title em.left{
    width: 6px;
    height: 20px;
    display: block;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
    background: #01FFFF;
}

.home-left-title span.title{
    float: left;
    font-size: 18px;
    color: #01FFFF;
}

.home-left-title em.right{
    width: 100px;
    height: 0.5px;
    display: block;
    float: left;
    background: #01FFFF;
    margin-top: 25px;
    margin-left: 10px;
}
.home-left-content{
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    padding: 0px 20px;
    overflow: hidden;
}
.home-left-content ul.rank-list{

}
.home-left-content ul.rank-list li{
    width: 100%;
    height: 55px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #6c788ef4;
}
.home-left-content ul.rank-list li .rank{
    width: 50px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 55px;
    font-size: 17px;
    color: #9FD7FF;
}

.home-left-content ul.rank-list li .rank img{
    width: 39px;
}
.home-left-content ul.rank-list li .name{
    width: 100px;
    height: 100%;
    float: right;
    text-align: right;
    box-sizing: border-box;
    padding-top: 8px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #9FD7FF;
    line-height: 20px;
    padding-right: 5px;
}
.home-left-content ul.rank-list li .name i{
    font-style: italic;
    padding-right: 3px;
}

.home-middle-box{
    width: 67%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background: rgba(123, 116, 116, 0.1);
    position: relative;
}
.grap-box{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../../img/home/img_star_bg.png");
    background-size: 100% 100%;
}
.grap-box a#back-btn{
    position: absolute;
    right: 50px;
    top: 64px;
    width: 60px;
    height: 30px;
    border: 1px solid #01ffff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    color: #01ffff;
    font-size: 15px;
    display: none;
}
.grap-box .star-box{
    position: absolute;
    cursor: pointer;
}
.grap-box .star-box .star-top{
    width: 160px;
    height: 160px;
    text-align: center;
}
.grap-box .star-box .star-normal img.normal{
    display: inline-block;
}
.grap-box .star-box .star-normal img.shining{
    display: none;
}

.grap-box .star-box .star-shining img.normal{
    display: none;
}
.grap-box .star-box .star-shining img.shining{
    display: inline-block;
}

.grap-box .star-box .star-bottom{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: #9FD7FF;
}

.grap-box .star-box .star-bottom .progress {
    overflow: hidden;
    height: 3px;
    background-color: #168798;
    background-image: -moz-linear-gradient(top, #168798, #168798);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#168798), to(#168798));
    background-image: -webkit-linear-gradient(top, #168798, #168798);
    background-image: -o-linear-gradient(top, #168798, #168798);
    background-image: linear-gradient(to bottom, #168798, #168798);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 50px;
    margin: 6px auto;
}

.grap-box .star-box .star-bottom .progress .bar {
    width: 0%;
    height: 100%;
    color: #ffffff;
    float: left;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #EEFDFF;
    background-image: -moz-linear-gradient(top, #EEFDFF, #EEFDFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EEFDFF), to(#EEFDFF));
    background-image: -webkit-linear-gradient(top, #EEFDFF, #EEFDFF);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #EEFDFF, #EEFDFF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.grap-box .star-box1{
    /*left: 500px;*/
    left: 55%;
    top: 250px;
}
.grap-box .star-box1 .star-top{
    /*width: 200px;*/
}
.grap-box .star-box1 img{
    /*width: 100%;*/
}
.grap-box .star-box1 .star-bottom{
    margin-top: -30px;
}
.grap-box .star-box2{
    left: 230px;
    top: 235px;
}
.grap-box .star-box2 .star-bottom{
    margin-top: -70px;
}
.grap-box .star-box3{
    left: 620px;
    top: 120px;
}
.grap-box .star-box3 .star-bottom{
    margin-top: -70px;
}
.grap-box .star-box4{
    left: 130px;
    top: 380px;
}
.grap-box .star-box4 .star-bottom{
    margin-top: -70px;
}
.grap-box .star-box5{
    left: 170px;
    top: 88px;
}
.grap-box .star-box5 .star-bottom{
    margin-top: -72px;
}
.grap-box .star-box6{
    left: 700px;
    top: 460px;
}
.grap-box .star-box6 .star-bottom{
    margin-top: -65px;
}
.grap-box .star-box7 .star-bottom{
    margin-top: -65px;
}
.grap-box .min-star-box{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 75px;
    top: 295px;
}
.grap-box .min-star-box a{
    width: 100%;
    height: 100%;
    display: block;
}
.star-bottom{
    position: relative;
}
.popup-tip{
    width: 250px;
    height: 130px;
    position: absolute;
    left: -200px;
    top: -130px;
    /*top: -200px;*/
    background: url("../../img/home/img_frame_style5.png");
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 10px 45px 40px 10px;
    z-index: 2;
    display: none;
}
.popup-tip .popup-content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: left;
}
.popup-tip .popup-content h6{
    font-size: 12px;
    color: #FFFFFF;

}
.popup-tip .popup-content ul{
    margin: 5px 0px;
}
.popup-tip .popup-content ul li{
    font-size: 13px;
    color: #01FFFF;
    line-height: 18px;
}
.popup-tip .popup-content ul li:before{
    content: '';
    background: url("../../img/home/img_adrow_white.png");
    background-size: 100% 100%;
    width: 17px;
    height: 10px;
    display: inline-block;
    margin-right: 3px;
}
.notice-box{
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 40px;
}
.notice-box a.line{
    height: 0.5px;
    width: 9px;
    border-radius: 50%;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.68) 0%, #01FFFF 0%, rgba(0, 0, 0, 0.46) 85%);
    transform: scale(55, 2);
    display: inline-block;
    position: absolute;
    margin-left: 50%;
}
.notice-box .notice-content{
    width: 100%;
    height: 38px;
    font-size: 16px;
    color: #01FFFF;
    line-height: 38px;
    overflow: hidden;
    position: relative;
}
.notice-box .notice-content p{
    display: none;
}
.notice-box .notice-content ul{
    height: 100%;
    /*width: 200%;*/
    position: absolute;
    left: 0;
    top: 0;
}
.notice-box .notice-content ul li{
    float: left;
    width: 16px;
}
.home-right-box{
    width: 18%;
    height: 100%;
    float: left;
    background: red;
    background: rgba(117, 117, 117, 0.2);
}
.home-right-box em.left{
    width: 6px;
    height: 20px;
    display: block;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
    background: #01FFFF;
}

.home-right-box span.title{
    float: left;
    font-size: 18px;
    color: #01FFFF;
}

.home-right-box em.right{
    width: 159px;
    height: 0.5px;
    display: block;
    float: left;
    background: #01FFFF;
    margin-top: 25px;
    margin-left: 10px;
}
.home-right-box .countTime-box{
    width: 220px;
    height: 120px;
    margin: 10px auto;
    position: relative;
}
.home-right-box .countTime-box .top{
    width: 100%;
    height: 65%;
    background: url("../../img/home/img_frame_style4_1.png");
    background-size: 100% 100%;
}
.home-right-box .countTime-box .bottom{
    width: 100%;
    height: 35%;
    background: url("../../img/home/img_frame_style4_3.png");
    background-size: 100% 100%;
}
.home-right-box .countTime-box em.left{
    width: 2px;
    height: 44px;
    position: absolute;
    left: 1px;
    top: 36px;
    display: block;
    margin: 0;
}
.home-right-box .countTime-box em.right{
    width: 2px;
    height: 44px;
    position: absolute;
    right: 1px;
    top: 36px;
    display: block;
    margin: 0;
}
.home-right-box .countTime-box .countTime-content{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 30px;
    line-height: 40px;
    color: #01FFFF;
    text-align: center;
}
.home-right-box .home-right-content{
    width: 100%;
    height: 400px;
}
.home-right-box .home-right-content .home-dynamic{
    width: 100%;
    height: 350px;
    position: relative;
}

.home-right-box .home-right-content .home-dynamic .home-dynamic-content{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
}
.home-dynamic-content ul{

}
.home-dynamic-content ul li{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    line-height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: rgba(1,255,255,0.54);
    letter-spacing: 0.71px;
}
.home-dynamic-content ul li:before{
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    border: 4px solid #979797;
    margin-top: 3px;
    float: left;
}
.home-dynamic-content ul li .content{
    width: 90%;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 5px;
}
.home-dynamic-content ul li i{
    color: white;
}










