.flex-body{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;}
.my-body{background: #080a33;color: #01FFFF;}
.my-body a{color: #01FFFF;}
.flex-body .header-box{-webkit-flex-shrink: 0;flex-shrink: 0;}
.flex-body .footer-box{-webkit-flex-shrink: 0;flex-shrink: 0;}
.header-box{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;justify-content: center;}
.footer-box{font-size: 14px;height: 46px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: center;align-items: center;justify-content: center;}
.full-column{flex-grow: 1;background: #1A2146;}
.main-box{flex-grow: 1;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;justify-content: center;}
.area{width: 1200px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.header-box{border-bottom: 1px solid #2f2e6b;}
.header-box .area{position: relative;height: 48px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.header-box .logo{height: 48px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: center;align-items: center;color: #00FFFF;}
.header-box .logo img{margin-right: 5px;height: 32px;width: 88px;}
.header-box .nav{flex-grow: 1;padding: 0 30px;}
.header-box .msgs{-webkit-flex-shrink: 0;flex-shrink: 0;}
.header-box .user-li:hover .logout{display: block;}
.header-box .logout{display: none;position: absolute;top: 100%;right: 0;}
.header-box .logout a{display: block;padding: 10px;background: #303467;color: #95caf2;font-size: 12px;}

.footer-box{text-align: center;height: 46px;color: #838499;border-top: 1px solid #2f2e6b;background: #080a33;}
.m-msg{height: 48px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.m-msg li{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: center;align-items: center;}
.m-msg a{color: #01ffff;display: block;padding: 0 6px;}
.m-msg img{display: block;}
.m-msg .msg-1{width: 14px;height: 14px;}
.m-msg .msg-2{width: 16px;height: 11px;}
.m-nav{height: 48px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: center;align-items: center;}
.m-nav li{width: 140px;text-align: center;}
.m-nav a{color: #9FD7FF;}

.mgb-10{margin-bottom: 10px;}
.mgb-20{margin-bottom: 20px;}

.color-orange{color: #EF720F;}





