.box{
    width: 100%;
    height: 100%;
    position: relative;
    background: #080A33;
    box-sizing: border-box;
    padding: 40px 0;
}
.box-out-content{
    width: 100%;
    /*height: 100%;*/
    box-sizing: border-box;
    /*padding: 40px 0px;*/
    overflow-y: auto;
}
.box-in-content{
    width: 100%;
    height: 700px;
}
/*头部*/
.header{
    width: 100%;
    height: 40px;
    background: #080A33;
    position: absolute;
    top: 1px;
    border-bottom: 1px solid #292465;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
}
.header img{
    margin-left: 90px;
    margin-top: 8px;
    float: left;
}
.header span.title{
    font-size: 18px;
    color: #00FFFF;
    float: left;
}

.header-nav{
    width: 500px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -170px;
}
.header-nav ul{
    overflow: hidden;
}
.header-nav ul li{
    float: left;
    margin: 0 20px;
}
.header-nav ul li a{
    font-size: 16px;
    color: #9FD7FF;
}
.header-info-right{
    width: 245px;
    float: right;
}
.header-info-right a{

}
.header-info-right a img{
    width: 22px;
    margin-left: 15px;
    line-height: 40px;
}

.header-info-right a.news{

}
.header-info-right a.news img{
    margin-top: 10px;
}

.header-info-right a.email{

}
.header-info-right a.email img{
    margin-top: 13px;
}

.header-info-right a.info-ID{
    font-size: 16px;
    color: #9FD7FF;
    margin-left: 15px;
}

/*脚部*/
.footer{
    width: 100%;
    height: 40px;
    background: #080A33;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #292465;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
}
.footer span{
    opacity: 0.5;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
}
.footer span.left{
    float: left;
}
.footer span.right{
    float: right;
}
/*框*/
.unit-frame-top{
    width: 100%;
    height: 40px;
    background: url(../../img/login/img_signin_bg_1.png) no-repeat;
    background-size: 100% 100%;
}
.unit-frame-top p{
    width: 100%;
    height: 40px;
    line-height: 35px;
    font-size: 20px;
    color: #00FFFF;
    letter-spacing: 0;
    text-align: center;
}
.unit-frame-middle{
    width: 100%;
    height: 30px;
    background: url(../../img/login/img_signin_bg_2.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.unit-frame-bottom{
    width: 100%;
    height: 110px;
    background: url(../../img/login/img_signin_bg_3.png) no-repeat;
    background-size: 100% 100%;
}
.unit-frame-bg{
    opacity: 0.1;
    background: #BDFAF5;
    position: absolute;
    z-index: 1;
}

/*滚动条*/

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:3px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:3px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(98, 202, 202);
}


/*table样式*/
table.table{
    width: 100%;
}
table.table tr{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    color: #71a1c4;

}
table.table tr th{
    background: #232A57;
}
table.table tr td:nth-child(2){
    color: #62caca;
}
table.table tr td a{
    color: #71a1c4;
}
table.table tr:nth-child(1){

}
table.table tr:nth-child(2){
    background: #080A33;
}
table.table tr:nth-child(3){
    background: #262f54;
}
table.table tr:nth-child(4){
    background: #080A33;
}
table.table tr:nth-child(5){
    background: #262f54;
}
table.table tr:nth-child(6){
    background: #080A33;
}
table.table tr:nth-child(7){
    background: #262f54;
}
table.table tr:nth-child(8){
    background: #080A33;
}
table.table tr:nth-child(9){
    background: #262f54;
}
table.table tr:nth-child(10){
    background: #080A33;
}
table.table tr:nth-child(11){
    background: #262f54;
}
