.m-answer-bar{padding: 30px 0;text-align: center;}
.m-answer-bar .title{font-size: 24px;line-height: 2;}
.m-answer-bar .cont{color: #9FD7FF;}
.m-answer-bar .cont span{color: #01FBFC;}
.m-answer-bar .cont .s1{display: inline-block;margin-right: 10px;}

.m-answer-catalog{color: #9FD7FF;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin: 0 -10px;}
.m-answer-catalog li{flex-basis: 33.33%;padding:0 10px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin-bottom: 20px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}

.m-answer-catalog li .lump{background: #1A2146 url(../../img/answer/answer-1.png) center bottom/contain no-repeat;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;}
.m-answer-catalog p{margin-bottom: 5px;}
.m-answer-catalog .top-bar{height: 50px;-webkit-flex-shrink: 0;flex-shrink: 0;font-size: 14px;}
.m-answer-catalog .top-bar h2{font-size: 16px;}
.m-answer-catalog .con-bar{flex-grow: 1;padding: 20px 20px 0 30px;}
.m-answer-catalog .cont{min-height: 40px;line-height: 20px;font-size: 12px;letter-spacing: 0.81px;}
.m-answer-catalog .end-bar{-webkit-flex-shrink: 0;flex-shrink: 0;padding: 25px 30px 30px 30px;text-align: right;}
.m-answer-catalog .i-btn{display: inline-block;padding: 8px 20px;text-align: right;color: #FFF;background: #6EC5C3;}
.m-answer-catalog .i-btn:hover{background: #91dedc;}








