.Squad-information-box{}
.Squad-information-box .left-column{width: 1px;flex-grow: 1;background: #1a2146;}
.Squad-information-box .right-column{width: 1px;flex-grow: 1.8;background: #10163c;}
.Squad-information-box .left-column .inner{padding: 20px;}

.decoration-1{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;margin-bottom: 15px;}
.decoration-1 h2{flex-grow: 1;}
.decoration-1 h2 img{height: 26px;}
.decoration-1 h3{-webkit-flex-shrink: 0;flex-shrink: 0;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: flex-end;align-items: flex-end;}




.m-user-bar{padding: 10px 0 0 0;color: #9fd7fe;text-align: center;}
.m-user-bar .face{display: block;width: 90px;height: 90px;margin-bottom:10px;margin-left:auto;margin-right:auto;-webkit-border-radius: 50%;-moz-border-radius:50%;border-radius: 50%;padding: 4px;background: #314865;border: 1px solid #0c667f;}
.m-user-bar .name{font-size: 14px;margin-bottom: 6px;} 

.m-user-bar .tips{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: center;align-items: center;border-top: 1px solid #3e5974;padding-top: 15px;margin-top: 30px;font-size: 14px;}
.m-user-bar .text{-webkit-flex-shrink: 0;flex-shrink: 0;margin-right: 10px;color: #58779e;}
.m-user-bar .list{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.m-user-bar .list li{padding: 5px 10px;margin-right: 10px;margin-bottom: 5px;background: #08a2b1;color: #FFF;-webkit-border-radius: 3px;-moz-border-radius:3px;border-radius: 3px;font-size: 12px;}




.m-no-team{margin-bottom: 10px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: center;align-items: center;}
.m-no-team h2{flex-grow: 1;color: #9FD7FF;}
.m-no-team h2 a{color: #01FFFF;font-size: 17px;}
.m-no-team h3{-webkit-flex-shrink: 0;flex-shrink: 0;}
input.m-search{height: 26px;line-height: 25px;padding: 0 5px;width: 180px;border: 1px solid #3e5974;color: #9FD7FF;background: #080a33;-webkit-border-radius: 2px;-moz-border-radius:2px;border-radius: 2px;}
input.m-search::-webkit-input-placeholder{color:#537099;}


.row-con{*zoom:1;}
.row-con:after{content: '.';display: block;height: 0;clear: both;overflow: hidden;}
.row-con .left-lump{float: left;} 
.row-con .right-lump{float: right;} 

.page-small{padding: 0;}

.m-team{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: flex-end;align-items: flex-end;margin-bottom: 20px;}
.m-team h2{margin-right: 10px;font-size: 24px;}
.m-team h3{margin-right: 20px;}
.m-team h3 .s2{color: #FFF;}

.row-mid{margin-top: 20px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.row-mid .left-lump{width: 1px;flex-grow: 1;margin-right: 15px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.row-mid .right-lump{width: 1px;flex-grow: 1;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.row-mid .inner{flex-grow: 1;}
.row-mid .content{padding: 10px;}

.row-mid-2{margin-top: 20px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.row-mid-2 .left-lump{width: 1px;flex-grow: 1;margin-right: 15px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;}
.row-mid-2 .right-lump{width: 1px;flex-grow: 1;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;}
.row-mid-2 .lump-title{-webkit-flex-shrink: 0;flex-shrink: 0;}
.row-mid-2 .lump-content{flex-grow: 1;}
.row-mid-2 .inner{flex-grow: 1;}
.row-mid-2 .content{padding: 10px;}

.m-my-line{padding-top: 15px;}
.m-my-line li{margin-bottom: 20px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;font-size: 14px;color: #9FD7FF;letter-spacing: 0;}
.m-my-line .name{-webkit-flex-shrink: 0;flex-shrink: 0;width: 60px;margin-right: 10px;text-align: right;}
.m-my-line .line{flex-grow: 1;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;background: #464764;}
.m-my-line .num{-webkit-flex-shrink: 0;flex-shrink: 0;width: 60px;margin-left: 10px;}
.m-my-line i{display: block;background: #01FFFF;}

.align-left th,
.align-left td{padding-left:10px;text-align: center;}


.i-btn{vertical-align: middle;display: inline-block;padding-left: 25px;margin-right: 25px;vertical-align: middle;border: 0;color: #00FFFF;cursor: pointer;}
.i-btn.i-btn-ok{background: url(../../img/SquadInformation/ok.png) left center/contain no-repeat;}
.i-btn.i-btn-no{margin-right: 0;background: url(../../img/SquadInformation/no.png) left center/contain no-repeat;}

.table-content{min-height:400px;}
.page-center{width: 600px;margin-left:auto;margin-right:auto;}
.page-nav:after{content: '.';display: block;height: 0;clear: both;overflow: hidden;}





